<button mat-icon-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger">
    <mat-icon title="View Profile">account_circle</mat-icon>
</button>

<mat-menu #userMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu user-menu">
    <mat-toolbar color="primary">
        <div fxLayout="row" fxLayoutAlign="space-around center" class="user-info">
            <img src="../../../../assets/img/userImage.png" alt="user-image" width="80" class="rounded mat-elevation-z6">
            <p>{{userData.userName ? userData.userName : '-'}}<br> <small>{{userData.userRole ? userData.userRole : '-'}}</small></p>
        </div>
    </mat-toolbar>
    <div class="divider"></div>
    <a class="py-1" id="logout-btn" mat-menu-item (click)="logoutUser()" routerLink="/login">
        <mat-icon>power_settings_new</mat-icon>
        <span>Log out</span>
    </a>
</mat-menu>