


@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
// indigo-pink, deeppurple-amber, purple-green and pink-bluegrey.
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "app/theme/styles/base";
@import "app/theme/styles/theme";
@import "app/theme/styles/libs-override";
@import "app/theme/styles/rtl";
@import "./_bootstrap.scss";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~fullcalendar/dist/fullcalendar.min.css";
@import '../node_modules/angular2-toaster/src/toaster.scss';
@import './prime-ng.scss';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "./custom_styles.scss";
.app.indigo-light .mat-card:not([class*='mat-elevation-z']) {
    box-shadow: 5px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 5px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 1px rgba(0, 0, 0, 0.12);
}

.transform-lowercase {
    text-transform: lowercase!important;
}

.custom-tour-class,
.custom-tour-class .popover-header,
.custom-tour-class .popover-body {
  color: #eee;
  background-color: #333;
  border-color: #333;
}
.custom-tour-class .popover-arrow:before,
.custom-tour-class .popover-arrow:after {
  border-top-color: #333 !important;
}


.red {
    color: red;
}

.blue {
    color: skyblue;
}

.green {
    color: green;
}

.cs-blue {
    color: #125799 !important;
}

.dark-blue {
    color: #1f79e9 !important;
}

.pink {
    color: pink;
}

.gray {
    color: gray;
}

.yellow {
    color: yellow;
}

// ::ng-deep .mat-form-field-prefix, .mat-form-field-suffix {
//     white-space: nowrap;
//     flex: none;
//     position: relative;
//     font-size: 11px;
//     bottom: -6px;
// }
//For Date Picker Material
.mat-calendar-table-header th {
    text-align: center !important;
    padding: 0 0 8px 0;
}

.m-t-5 {
    margin-top: 5px !important;
}

a {
    text-decoration: none !important;
}

.ps {
    touch-action: auto;
    overflow: auto !important;
    -ms-overflow-style: none;
    position: relative;
}

//Style for Tab Active
.pills>.nav>li>.tabActive {
    background: #50636d!important;
    color: #fff !important;
}

.pills>.nav>li.active>a {
    background: #50636d!important;
    color: #fff !important;
}

.pills>.nav>li>a {
    background-color: #e0e0e0 !important;
    color: black !important;
}

.pills>.nav>li.active>a:hover {
    color: #222222;
    background: #50636d !important;
    //border-bottom: #222222 5px solid;
    //box-shadow: 7px 6px 25px #7b7b7bee;
}

.filters-hover:hover {
    color: #222222;
    background: #8596a0 !important;
}

.filters-hover {
    color: #ffffff !important;
    background: #4f565a !important;
}

//Ends here
.no-padding {
    padding: 0px !important;
}

.padding-15 {
    padding: 15px !important;
}

.pills>.nav>li>a {
    border-radius: 4px;
    //padding: 8px 25px;
    background: #dddddd !important;
    //border-color: #444d58;
    //box-shadow: 7px 6px 25px #7b7b7bee;
    margin-right: 7px !important;
    //border-bottom: 5px solid transparent;
    //color: #ffffff;
    font-size: 15px;
    min-width: 64px;
    line-height: 40px;
    padding: 0 16px;
    font-weight: 500;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

//For margins and paddings starts here
.margin-top-15 {
    margin-top: 15px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-10 {
    padding: 10px;
}

.margin-10 {
    margin: 10px;
}

//Styles for margins and paddings ends here
.w-100p {
    width: 100% !important;
}

//Overriding the boostrap button css
.btn-primary {
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}

// Ends here
//Styles for Icons in Tree
.blue {
    color: #89C4F4 !important;
}

.border {
    border: 1px solid #79868c !important;
}

.green {
    color: #45B6AF !important;
}

.gold {
    color: #dfba49 !important;
}

.red {
    color: red !important;
}

//Styles End here for tree
.mat-option-text {
    font-size: 14px !important;
}

//Styles for Toaster
.greenSnackBar {
    background: #3d651f !important;
    columns: #fff !important;
}

.redSnackBar {
    background: #a12c2c !important;
    color: #fff !important;
}

.greenSnackBar>.mat-simple-snackbar>.mat-simple-snackbar-action>.mat-button>.mat-button-wrapper {
    color: #fff !important;
}

.green {
    color: #45B6AF !important;
}

.gold {
    color: #dfba49 !important;
}

.orange {
    color: #ffa500 !important;
}

.red {
    color: red !important;
}

//For Mat Error
// ::ng-deep .mat-error {
//     color: #e5354e !important;
// }
mat-error {
    color: red !important;
}

button {
    outline: 0px !important;
}

.disable-custom {
    pointer-events: none !important;
    filter: grayscale(1) !important;
    cursor: disabled;
}

.no-pointer-events {
    pointer-events: none !important;
}

//For sorting 
.mat-sort-header-arrow {
    color: #b1b1b1 !important;
}

.custom-center {
    text-align: center !important;
}

.custom-center>.mat-sort-header-container {
    justify-content: center !important;
}

//For Sliding Effect
@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.swing {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

//Pagination Styles 
.mat-paginator-container {
    color: #2889dc !important;
    font-size: 1.37rem !important;
}

.mat-paginator-icon {
    width: 24px !important;
    fill: currentColor;
}

//Custom header for all modal dialog
.custom-header {
    background: #286ba5;
    color: white;
    text-align: center;
    margin-left: -24px !important;
    margin-top: -24px !important;
    margin-right: -24px !important;
    padding: 13px;
    font-weight: 300 !important;
    margin-bottom: 20px !important;
}

.mat-button-focus-overlay {
    background-color: transparent!important;
}

.mat-tooltip {
    font-size: 12px !important;
}

//For Edit Icon
.edit-icon {
    margin-right: 10px;
    cursor: pointer;
    font-size: 17px!important;
    color: #0987e8d1 !important;
}

//For Notes Icon
.notes-icon {
    margin-right: 10px;
    cursor: pointer;
    font-size: 0px!important;
    color: #398dde !important;
    vertical-align: middle;
    ;
}

//For Modal Dailog in Invoice
.modal-body>.remove-step-pad>.mat-horizontal-content-container {
    padding: 0 24px 0px 24px !important;
}

//For Delete Icon
.delete-icon {
    cursor: pointer;
    font-size: 17px!important;
}

.anchor {
    cursor: pointer;
    color: #346fbe !important;
}

.clendar-header {
    font-size: 30px
}

////////////////////////For Mat Select Option Checkbox
.mat-pseudo-checkbox-checked::after {
    top: 4.4px !important;
    left: 2px !important;
    width: 8px;
    height: 3px;
    border-left: 2px solid currentColor;
    transform: rotate(-45deg);
    opacity: 1;
}

.v-a-m {
    vertical-align: middle !important;
}

.mat-checkbox-inner-container {
    background: #fff !important;
}

.margin-top-15 {
    margin-top: 15px;
}

.mat-option-disabled {
    //color: #c31818f2 !important;
    display: none !important;
}

/////////////////////Styles for Accordian Colors//////////////////////////
.zero-p-accordian>.ui-state-active>a {
    background-color: #d9d2e9 !important;
    border: 0px !important;
    color: black !important;
    .ui-accordion-toggle-icon,
    .ui-accordion-toggle-icon :hover {
        color: black !important;
    }
}

.one-p-accordian>.ui-state-active>a {
    background-color: #f4cccc !important;
    border: 0px !important;
    color: black !important;
    .ui-accordion-toggle-icon,
    .ui-accordion-toggle-icon :hover {
        color: black !important;
    }
}

.two-p-accordian>.ui-state-active>a {
    background-color: #fce5cd !important;
    color: black !important;
    border: 0px !important;
    .ui-accordion-toggle-icon,
    .ui-accordion-toggle-icon :hover {
        color: black !important;
    }
}

.three-p-accordian>.ui-state-active>a {
    background-color: #fff2cc !important;
    color: black !important;
    border: 0px !important;
    .ui-accordion-toggle-icon,
    .ui-accordion-toggle-icon :hover {
        color: black !important;
    }
}

.four-p-accordian>.ui-state-active>a {
    background-color: #d9ead3 !important;
    color: black !important;
    border: 0px !important;
    .ui-accordion-toggle-icon,
    .ui-accordion-toggle-icon :hover {
        color: black !important;
    }
}

.five-p-accordian>.ui-state-active>a {
    background-color: #d0e0e3 !important;
    color: black !important;
    border: 0px !important;
    .ui-accordion-toggle-icon,
    .ui-accordion-toggle-icon :hover {
        color: black !important;
    }
}

.six-p-accordian>.ui-state-active>a {
    background-color: #c9daf8 !important;
    color: black !important;
    border: 0px !important;
    .ui-accordion-toggle-icon,
    .ui-accordion-toggle-icon :hover {
        color: black !important;
    }
}

.seven-p-accordian>.ui-state-active>a {
    background-color: #ead1dc !important;
    color: black !important;
    border: 0px !important;
    .ui-accordion-toggle-icon,
    .ui-accordion-toggle-icon :hover {
        color: black !important;
    }
}

.eight-p-accordian>.ui-state-active>a {
    background-color: #e6b8af !important;
    color: black !important;
    border: 0px !important;
    .ui-accordion-toggle-icon,
    .ui-accordion-toggle-icon :hover {
        color: black !important;
    }
}

.nine-p-accordian>.ui-state-active>a {
    background-color: #cfe2f3 !important;
    color: black !important;
    border: 0px !important;
    .ui-accordion-toggle-icon,
    .ui-accordion-toggle-icon :hover {
        color: black !important;
    }
}

.expenses-p-accodian>.ui-state-active>a {
    background-color: #dfe4b1 !important;
    border: 0px !important;
    color: #000000 !important;
    .ui-accordion-toggle-icon,
    .ui-accordion-toggle-icon :hover {
        color: black !important;
    }
}
.sowdescription-p-accodian>.ui-state-default>a {
    background-color: #d7e086 !important;
    border: 0px !important;
    color: #000000 !important;
    font-weight: bolder !important;
    .ui-accordion-toggle-icon,
    .ui-accordion-toggle-icon :hover {
        color: black !important;
    }
}


.sowdescription-p-accodian > .ui-accordion-content-wrapper > .ui-accordion-content{
    padding: 0.571em 1em !important;
    margin-bottom: 10px !important;
}

.selectfile-p-accodian>.ui-state-default>a {
    background-color: #007ad926 !important;
    border: 0px !important;
    color: #000000 !important;
    font-weight: bolder !important;
    .ui-accordion-toggle-icon,
    .ui-accordion-toggle-icon :hover {
        color: black !important;
    }
}

// .awardedClass > .ui-treenode-content > .ui-state-highlight > span > .custom-label{
//     color:red !important;
//     padding: 3px;
// }

.awardedClass {
    pointer-events: none;
}
.unAwardedClass  {
    pointer-events: none;
}
.awardedClass > .ui-treenode-content > .ui-state-highlight > span> span > .custom-label{
    background: #93b5d682 !important;
    color: black;
    padding: 0.4rem;
    border-radius: 3px;
}
.unAwardedClass > .ui-treenode-content > .ui-treenode-label > span >span>.custom-label{
    color:red !important;
}

.unAwardedClass > .ui-treenode-content > .ui-state-highlight > span> span > .custom-label{
    color:red !important;
    background: #93b5d682 !important;
    padding: 0.4rem;
    border-radius: 3px;
}
 
.awardedClass > .ui-treenode-content > .ui-state-highlight {
    background-color: #ffffff !important;
    // color: #ffffff;
}
.unAwardedClass > .ui-treenode-content > .ui-state-highlight {
    background-color: #ffffff !important;
    // color: #ffffff;
}

.siteClass > .ui-treenode-content > .ui-state-highlight {
    background-color: #ffffff !important;
    // color: #ffffff;
}

.siteClass > .ui-treenode-content > .ui-state-highlight > span> span > .custom-label{
    background: #93b5d682 !important;
    color: black;
    padding: 0.4rem;
    border-radius: 3px;
}


.pills>.nav>li>a.active {
    background: #50636d!important;
    color: #fff !important;
}





// .unAwardedClass > .ui-treenode-content > .ui-state-highlight {
//     background-color: #ffffff !important;
//     color: #ffffff;
// }


// .ui-treenode-content > .ui-state-highlight > span >span> .custom-label{
//     background: #007ad9 !important;
//     padding: 0.4rem;
//     border-radius: 3px;
// }


// body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-highlight {
//     background-color: #fff;
//     color: #fff;
// }

//////////////////Ends here //////////////////////
.cursor-pointer {
    cursor: pointer !important;
}

.disable-events {
    background: #8080803b;
    pointer-events: none !important;
    cursor: not-allowed !important;
}

/////////////CSS for All Files///////////////

.margin-side-5{
    margin-left: 5px;
    margin-right: 5px;
}

///////////////////CSS for all tables/////////////
// tbody {
//     display: block !important;
//     height: 300px !important;
//     overflow: auto !important;
// }
// thead,
// tbody tr {
//     display: table !important;
//     width: 100% !important;
//     table-layout: fixed !important;
//     /* even columns width , fix width of table too*/
// }
// thead {
//     width: calc( 100% - 1em) !important;
//     /* scrollbar is average 1em/16px width, remove it from thead width */
// }
.mat-optgroup-label {
    color: black !important;
    background: #007ad926 !important;
}

.cs-map-icon {
    font-size: 16px !important;
    color: #125799 !important;
    margin-right: 5px !important;
}

.arrow-sched{
  bottom:2px;
  font-size: 18px !important; 
  vertical-align: top !important;
  cursor: pointer !important;
  text-align: left;
}

/////////////////Colors for Action Scheduling and Dashboard///////////////////@extend

.yellow-band {
    background: #ffff0057  !important;
    color: black !important;
}

.cyan-band{
    background: #a6dddfbf !important;
    color: black !important;
}

.BoldTextRed{
    color:red !important;
    font-weight: bold !important;
}

.light-red {
    background: #ff0000e0 !important;
}

.light-red-icon {
    color: #ff0000e0 !important;
}

.yellow-band-icon {
    color: #e8e800  !important;
}

.cyan-band-icon{
    background: #167275bf !important;
    color: black !important;
}



//////////Custom Styles for Mat Tab///////////////
.mat-tab-label-active{
    background: #2979ff38 !important;
    color: #143046 !important;
    font-weight: 600 !important;
    opacity: 1 !important;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background:#007ad9 !important;
 } 

 .mat-select-disabled{
    background: #eeeeee;
    font-weight: 500;
 }
    
 .toast-success {
    background-color: #51A351;
}

.toast-error {
    background-color: #BD362F;
}
.toast-error,.toast-success {
    font-size: 15px !important;
}